@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --colorprimary: #ffc500;
    font-family: 'Montserrat', sans-serif;
    font: 16px;
}

body{
    margin: 0;
    padding-top: 7.75rem;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 9fr;
    top:0;
    left: 0;
    
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    
    background-color: black;
    color: white;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li{
    font-size:  0.875rem;
    margin: 2rem;
    text-transform: uppercase;
}
.navbar__links a {
    color: white;
    text-decoration: none;
}


.navbar__links a:hover {
    font-weight: 300; 
    color: var(--colorprimary);
}

.logo-studion {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 1ch;
    text-transform: uppercase;
    text-align: right;
}

.logo-studion__subtitle {
    font-size: 0.875rem;
    float: right;
    font-weight: 300;
}

.copy--primary {
    color: var(--colorprimary);
}